h1{
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
 }

 .pic{
   width: 100%;
   height: 100%;
   background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYWFRgVFhUVGRgaGhgZGhwcHRoYGRwZGBkeGhkcGBwcIS4lHB4rHxoZJjomLC8xNTU3GiU7QDszPy40NTEBDAwMEA8QHhISHDQhISQ0NDE0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDE0NDQ0NDE0NDQ0NDQ0NDQ0NDQ0ND80Mf/AABEIALMBGQMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAgMEBQYHAQj/xABAEAACAQIEAwUFBgMHBAMAAAABAhEAAwQSITEFQVEGImFxkRMUMoGhQlJiscHRI+HwBxUWU3KCklSissIkM/H/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAHxEBAQEBAAMBAAMBAAAAAAAAAAERAhIhMUEDE1Ei/9oADAMBAAIRAxEAPwDmlFFFRxFFFFBadnOJ+wvBmJCGc4E6wDlMD4iCdB41sLHa6w7qipeJYhR3FOp8A0/Sud05axLorKjFQ4hssBiOmaMwHgDBomOxZaMtZDhXbdFU+8qxOYx7NRlVIHxZnkmZ2rfIoIBA3AO0HXr0omIi4c0r3Y+FTMtGWhiuKUkiKntZB1rnHbni5a57BHOVJD5ToXMaf7Y9SelDG5y0ZagdmLzvhrbvOY55J5/xGg1aZKGGstGWnclGWgay0Zady0ZKBrLRlp3JRkoGstGWnclGWgay0ZadyU4LB6UEbLRlqX7seopS4frrQxCy04uHJ8KmhB0Fe5aGIfuvj9KaxSqiM7sAiglieQG5r3H8Zw9lgl26iMRmgyTBJAOg0Eg+lZPtv2iR7S27FxHW5OcrBgKVIG8qZ8IImphiZc7U4YNbAbMHBYtsEUA/GDrmlSMu/wBJg8Q7ZIqobSFmYmQ3dyqrFdQCdWgx4anpWDpVXGsjZ8A7Vk51xBnKrOrACSBrkIEAnp9abv8Abk5WyYcBp7uZ8wjxAUa7aTz8NchRRMdQwXH7F1nVWIVACXaFTUxAJM8jyExpUj++MN/1Fn/mn71yWimGFUUUUUUUUUBRRRQSuF8Qaw/tES2zAEDOmcKdO8uohtN/E11ns9xNr+HS4WDMZDkIUGYHUAEnQbTOv0rjlSsPinORPbuiDQHO4VASWYhV56kwBJNB2pmJ514XaKg8H4vZxAb2Ls+XKGLKy6kaasACdOVWYUURznh/b+4CfbpmBkjJ3WBOoUgmCOXI+dY0sSZY946k/iOpPrrXVr/ZGwEvC2gD3AwDND5J1CoG0VZHLXx0Ecrv2WRijgqymCDIIPz1FFdV7PcWw1xVsWHkoigKwKsVURIDfFtrFX4w5qh7D8Ys3bKoqol1FAdFULmjTOoA1B59D8p0vtB40RFZIMV5lqUzA8qbK+FAzloCU7loy0CVReppwMo2r0WT0oa0RQNvlPWm8tO5aMtA1lpWY9TS8tGWgQrEUsXPCjLRloPfaeFU/Fu0tiwxR3AfLIXK53HdzMqkLNW+WuWdreNped0CWXyNCXVDq+UHVTm+LmOnMUETjXaF8SxLokFQArd8oeZRxDCdJBkabGqaiiiiiiigKKKKAooooCiiigKKKKAooooCiiig0nZPtAuGM3HvFACFtoqlJJnMSzCD5CfHlXSuDcUt4m37S1myyVOZSpBABI6HcagkVxADrtXW+xPGDiEcM9uVyhLSznRFGXM5MZixjUaeUwA0cVUca7N2MTq6Q8RnXRvn1+dXuWjLQY7gnYtMPeF3OWgMAsRuBEkz0J9OlauKey0ZaBnJS/ZDqKXloy0ALApYTwpAWvdepoFRXhSk5aMtAlrQ6ikMlO5aMtAzFEU9loy0DMV48AEnYAk6ToNToN6fy1ie0nbG0Bcw6HEI4OXOqqMrKeQZgSDETpoZHKgoe1vaAXHS7hcU+UKFKKblshgSwaCBmBBA5xlHWsleus7M7klmJZidySZJovXCzFmMkkkk7k9T40mgKKKKAooooCiiigKKKKDa4HsMzImdsjrc/ig6nKxAREykhjC5s0gRdB5VD7Qdi79q64tIXtkPcTLqwRdSrDfMJgfejTUxXSuA8FdJuYi4bl52NwgaW0ZlCkIvOFULmPIGIkz7fxMYtkEZvY2lQfiuPdJPkFtMx8Fo1jiL4VgiXI7twuFP+gqG/wDIVHrtvF8Ktwvh3VClx1VV1XM7Ww7M5WIVAjPvLGNRAnkfGsVae5FhMlpBktjdmA3dzzZjrPTKOVEsQKKKKIKKKTQWfZ+yXvqirYd20VLwORz92RsxG0xrpzg9q4PglS2sYe3YYgF0TLAbpmUDMPGsN2G4DcW5buG2l7DXVzhzlm3cTVWKsZVwylDlnca6V03LRrDOWjLT2WjLQM5aMtPZaMtAzloy09loy0DOWjLT2WjLQM5aMtPZaMtBHYQCfCs12S7RHEl0uBVcd5QNJQ7jzXT1rS40OEY28mcDQuWCDqWy6xXJuF3rhxStZKC49xgsAlAXkEgGTkAJOuwHhRjq5Y63loy1V9l8PiVtP7yWLm4xEkN3YAERoASGIHjyq5y0antHvEKrMTAUEkgSQAJJgDWuGdoOLNiHDNcFwoMi3AuTOgJKkp9lu8QYAnTpJ75lrnn9pGHuASTYVGYLbVbefEXXyy2ZiBkUa/CSYA3JgFxzOik0qjIooooCivI/U/ICSfSp3D+F3LquyKxREd2YKSvcXNlnbMZEDxoIVFa3g/YPEXWtG7/CRwWM/wD2ZVI0C/Zcgzrtz17tXvE+w9rNfFsjNcZVtoYX2TGWQ5jM22ylfhnQgEkUXHNaKXiLYV2QNmysyyNAcpIkA6gac6RRH0rlrNcNsB+J4q6YJt2sPZXwzg3H/wDX61qlTlXMMF2wt2b2PZUa7eu4nLZRQTnFtcisSPs93lJM7bkG1vjcc54lctWUNx7dgQsgIj3Mud3Y6LlRUAG5NyNpIru13Zm4+GtpZs2Uf2oPsbWUDS2+7sF9o4GpJyiNhzOq7G8Lu27LPiAPeL7tdu9QW0RJ/CoAjYSQKVwa8L965cWSlp7lpTydy/fZeoVURQepcUHILnZl0xyYJ2yl8kOBmHfSQQJGZQ8qdROU0/2t7LPhryqiOyG3nJEuqsub2gDZRCqAD3tYI1NdmxPBrL3reIdJuWswRpIgMCDIGjRJidpMVMvWFdWRgGVgVYHYqwgg+EUMfNnu7ZPaR3M2TNyzBQxHoQfmKubHZHFOwT2ZDtbF1JkI6kBiFf4VcA/C0bHbSe0f4awvsUw5w6G0jZ1UgsA2ssSdSTJmZmdatQtE8WY7CZhg0tvZa09om2ysCMzDvFlkahs06aTIG1aLLTsURRrDWWjLTsURQw1loy07FEUMNZaMtOxRFDDWWjLTsURQw1loy07FEUMU/aDhTYmy1pbhTNuQJBH3WEiVPMTUTgHZWzhjnEu8EZ25A/dXYdJrRxRFGfGbprLRlp2KIoprLVT2l4fdv4d7VllR3hSzSIQsM4BUEyVkfOruKIouPnXj/D1w997CsX9nCsxGXM8AsVX7KyYAknSZ1gV9dI432FxeIe9iX9mbjuAlpGAAXRFa45AHdQSQJLEbjas1juxt9MWuDXvu9vOrgEIYQs0HoHGSTG401ijFjOUVf9m+ymIxRzIgyJdFu7mORkiGeVOpgGIGsxpzq87edl0TE4azhkhsQXA0AUEMoACqAMqKZJ3OpJNDGN4cLocXLKsz2yLndUvAVhqyj7MkA8tdd661wd0CWWtotj2vsb2RVCghr6JeQiBOVmQq28PG1N8D7Grg8TduG82V7dz2WWQ6qrI7Sx0LABYGoIzTzFO9obWIwz4e67LcsriVLuq5DbR2UMHWSGUuFcsCIZYiCINSLHH4rJi8NaY6vcuFPxI1lyw8crqvydOc1N45wNMSmViyMIKOhKujAhlII3AZVMHSQDoQCIva1Ar4K6d1xdpAfC8GtkeXeHpWiCUHG+A9n2xnEMQmKJLW5NxkyrmuI6IpiCMrKrnb0rd/4EwH+QP+T/vVV/ZveV8RxFye+16fHJnuZf1Hyq+/xngP+qtetBnO1Hbm7bslUVVe4CitJlNO8w6mDA6Eg6xWD7MrikY3cMyoR3c7Kh05qmZGjxiPOpPbUQ1oSPhcxzGqjUctj6GrzgtsLh7QEaojfNxmP1Jqb6cfKzmVc4K5xTGWnS5iLFq2q/xDaU+8OsEkKfhWYIkQfCtrwa3at2rVmwsILalQPsqdix5sTPmZNY3hfFHsk5CIaJDCRpsfCp+Gxt0ju6LIOVSUkRoAw1A3gba0lWfyNrloy1ScM4wmRQ3tCYli3eynoDuasl4jbP2x8wR+Yqus6lSctGWm1xaH7aeopwXV+8vqKGjLRlr0OOoqHhMdngEQwLh9dFyMV+vL50XT4uLnKT3gocj8LFgD6qaiYjilpLiWmdQzq7LqI7jIpHmS49DWT/tELZ7T2Gm4isrpIyvbYqQra/ECJE9T88VdxS3suRvZ4hDIRwVmdGQ/eUxy10G1TXPrvLkdqv4hEBZ3VQNDJG/Tzp1CGAZSCCJBGoIPMGuP4HiSu2R1KXRqUbc+KHZhpuK0/Z3igtOQ7PkZYAB0zSIJB20nWmpP5PeWN1loy1U3ONH7Kep/QVEucUunZgvkP3mq1e40JWo13HW13dfl3j6Cs3cdm+JmbzJP50j2dVm/yX8i7ucbtjZXb5AD6mfpUW5x8gEhAAOrT+QqtK6xz1PpE/mKhY7EhQUHxEa9BP8AKpWL30sT2sblbX1IpVjtbp37Ws7qYEeR5/OsyqzTpwx1+HTx8J8uvpWdrPn1/rRWe1Yz99ITlHecHxkgEVetj0y2nXVLjBQehIMT01EVzmp2GxzgBA2gIIHiDK6eBg/KrK1z/Jf10Cy4eSBoCQD1IMGPCdJ8Kdy1jbGOuAIzs+TuDuMyZF0HwjQitZgsSrrKmRyJiSOpHKq689SnstGWvZr2joSEpLWgSCQCRMGNROhg8tKaxPELVv43RfAnX/iNapsX2stjRFdz1Iyr476/SjF65n2p3H8I72ibYBu25dAdAxClWQnlnRnSeWYHlUXDYixj8Gwzdy4ht3AdHRysMrA/C6t16A1TYntXeb4FRB5Zj6tp9KyXEuFpedrhZ0dzLshy5j1ZQIn5UtY/u5/DPaLimKw1kYG8yXvZvbezeRpP8J8yo/MGANDqOrb10y32rwzIrqzMGAYAKdJExJgaedcf4j2ZVLbOjOWUFiGjUDUxAGsUvsfimOe2TIADL4aw0eGo+vWppe7mxDxWMu4XE32tMyi57VRI+K1dJgEA7gEag6MtUOQdK33G+G+2SBAddUP5qfA/oKx392Xv8p/+NVOe/Ri/eZ2LOzMx5sST9a61wbBj3Kxm0Y2rImNdVWBry2rnPZ3gpxN1A0i1mAdtpE6qp5k7SNvSeqcbcoERRAEERpGXYREEbelSnVmG14MObN6Db96XfwxWVUaBFjqTJA/STVng2LorGJO8eHXQa0lGDOhGzI//AGsv7mmRnxilvW3RCx7wll5yDqAwI8eRq1skMAVMiqnjD6qscmM8zLtp5afWoWHtE6zlUbtrEaSNNTuNB1puM7lW2OxZRwqiTG3ixBH0B9agDiLg65fKBUS4O8dt40Mj5E8qur3DlTIzL91eozEaZh1nnsYqbae6itxImAQuv3cwjz/lTi4cGS7MOamM2xIBI13/AFpWP4bcMGA0DvN3VPWSOgEVZNhJCKxk+zYT492SPlNCSqC1giZ7wgdAzfkNPnUHtbYwyW7a3VY53ZVcGGSFPfHUZskjoZ5VqVtIjWzOUszjoCupg/PLHnVH/aJwZ72HV0Us1pmYqNSUYd/KOZEKY6A1ZGueWXsYd7zNg8QxGIRS+Gu/afQOqltzI1nwPNRMzhXEC+Ge+8D2PduTAMjbTq2gjrIqrxPERdwtnEKwXFYRkRpMF7cxbYfehgAR4tO4qs4/jEe5dNlv4V4pcZYIh8pLKZ3Idn201G9MbvMrr+DRsi59WiT89fypWJORGaDoP/yvMDdK2sOr6O6IGnSGCS0+OaB86Z7QQEXbNPWDEa/KraxZkPYUh0VgZ0E+ca09kqB2eWQ4jaJProNatzGv4d/OAY+opKT3GfxGNAug6FQCpBBBBO86b6VNvYBLhD67ctJHKZ2qlxF3M7OJiSRM7Tzg/rWjw+JTIsuCYEkdee1Se2Z7+qjiCrbGRQBJB1kyB0PnNO4WLtwsNIQTHWTz32pnjWIV3AWdBr/KjheJKs2gJygbnkT+9T9T1qVi+HqxVR3TBMADqBJrxeFonfZzlXvGYAAGpJPSolzHv7QsCAYy+ET4zHWq/tNxQomS5nKXVdMynRWjYrzEEnT7p0q+l9b8ePiWxAAtgra3Nxu4GRTsinvNmgAkgCCYk7SF42iXIQvcZSZNsGZiMrNogIPU1mRxgHC27auFuMVtt1RBoX+Yj1PSpHCuJI7m3at5baLoZ8QBIjQnU7zpSl1ssHx++udiqZrjBte9kARUVdIBMLJPVjuAKhYni155zXHg8gco9FioYQxJ06DWvbCSwFLUvXV+0kGvRrUlbENl1nQ9dPCvEwzBhIAE/wBCp7ZxHZKFt1Maxv5/nH717bQZmA5RpVwxCvJA9fyrA9mcalu4C5hWTLPIGVInw0rpd+zMDqSPUGuR3LLIxRhDISp810NMdOJ6sdMw7B1DKysp5qQR9KkezrnHCOKPh2zJqCCGU/C2mhPiDGvy50j+98R/nv8ASqf1um8MwYQ2wFyoroogiAMx8ZnT+pp/jWJD3TrKroP1ikvxS1kTvjS4W/2hz+/0qbiMUjJm0OUpm2JEsJE8zEz51MT8OYPFZcM2YgEAhI3121B3mmOC4gKUBOzn0ZCdB5gUi5iLbIFOg7phdDmI0AH6nw+TYyIgdSWIdSdBpEjfeOU7b1DaYxudiGKtlgQdxH6SZp3BqwlhmzEOAoBUTGhkwNDrA6U+2MT2Mc8gT/dlEj6ivcXxK2hR2IVO8cx0WIj5a1cMVZtsDBDAnqDO+/8AOtCt0LbtrDGHQyRE9+diSRWbftrhA6klyArA5UJgkqRvE7HavcV2ywrICjMSGVspBQmCDALCPrypizmxpOLY3+EwAInTlz3HpNNYLHHJbkEkMVJJ1+FtNvLeszhuNvfIW8mRZORk0GaJAYMe95g6TtGotnxSWhkO6sjHWAZ1BnkMoPrT9S26Rj8TmZNIyqJ13O/5Grq9jS1tjCwUOuo0K+J0qksNYcqA/e0zQQZhZJ12E6VS9u+PhU92tkhm0uHYqn3fAtz8AeopF521k+0vEkv3s6IiqqqgKqFLkCC7nmSdvADxqqViCCDBGoPQjY0UOpBIIII3BEEeYO1V1dMwvGPeUR57wUK4GkOu48uY8CKseIM7kMQxWNDy21Mcq5Xw/HvZcOh6Sp+FgOTD9eVdZwHGbd2wLihgCmoO4Oq5fHUHX96mOXUI4YhktLDTow+u3Sm8OWfOoOra6nTx+cVYNiE9kY1AUBsuhGkGJHynxqHgnRGLTOuQToSdJ8hrUTEV8I4IBUydeWuvL1FW2Gw8KBBHgYn6UXMWmdGBkFXA8yUj8j6Us45CNCdTlB2O0sfCNfSrMhJFE4JY89T+dTMGmQsWBEJP1/lTTqiMSCSIDLzkZgJ0/arG3i09qZIHcVdNe9mJgddDvSJIpgSWnck/rzpfae4iWO+AdJgwQW2WOW9WmLxdlHzPlELzECSe78j18azfanG4a8QhNxmRlgoyhDyIkg8mbXTUcqYsjB1uuC3le2GRQvJwogBo10Hr86ruMX8M9kJat5GAQjRVIZSZzEfFKtE6666xVNwfir4a4HQA8mQ7MOh6HoeXqC+rf+nQmsNkIAY6idCPsgxB15/SkYaySwGo16H9KqrfbxAzE4du9r8Y0ICiJy7aHWk2+3igt/8AGOrE/GOf+ymJ4tWLffP+gf8AkaicQfK6gHbWs3c7dnPnXDg93LBePtE8kqw4bxe1ipch0cRnQkOuWD3kIAJEgA6aSOopS8+l66gFuncPyJj9KgYRwbngSQPnttUnEYpMwXUiFUgaahjoP650BUQs6SQunUAx4jUTAmoYfxNvVP8AX/6mst2u4Ct186QLmUTyD9A3QxGvr4afEY1CyRsHA8dtSegE/n82sVatlg+diGOumnlptprB5VbT58cdZSCQQQQYIOhBG4PjRWh7b2UXEg2wQrorHxYMyk/9oHyrPVXVpya9XERoHIHgTz3/ACHpVKMfMSPP+VSwamOV5s+rjD8TyiN4iJPTb6U5d4sxEBhHQaDct89WNUlFRMT8VxF1QtnJ8AdydP29KzeJxTuZd2aNpJIH+kcqscQkqR6VU1Y6cSCiiiq28Qxtp5aU499yZLuT1LMT6k0iigkW+IXF2c/Qn1qO7Ekk6k0V4KJkiw4TYl852Ugj/VuPTf0q9xAS5GdQxHM77zvvULCBUQLOvPzO9Phx1FZcurbUPE8Nt7jOB0BkfUE/Wp+H4gyKFGigQAPKBM+Z9abdZFMtbiibb9W+E4066afCykEaQwM/maafirTpPmN+W3XaqwmBFJU6QKJi59qxHxNHmdq9Dt95vU1AtyBAJpYc9aM4n+8vEZjHjr0/YelJfiDJ3p115DmCP1qILxqFduknfSiyU/juINcIzToANydBtodBvyqHRRWmhUPFJDT1qZUa6mZ45Aa0WItFSbFkSwI20pVywoBIGsU1rUSp3CndHDpylTz0dSDM/wBbVDW2SJHKpWAuASOdC/GhXiDgg6aR9Ke/vhwCBlhlKnTkWLT5gk1Te8eFeG+egrLniwONf73jsKW3EbhAGbQQdhuBA+gAqqN1utNm5vLbb60MedoHL5HMSJX5HvfnPrVNUjGX8xEbD61HrTvzPTwGpOGvqvproN/PnUeihZq3tXQwkfzHnS6p7dwg7keRqQL7cmqYxeU29cCgk/LzqmperGSZ86GSKrXMx5T1rCsyyI+fOmkSalLeYaA6eQotv+IjIQYIg0VKuXC2hg1FA1ihKKkYBJaen5mmmQAc5p7C3coOkz+lC316WNFRve/w/X+Vee9fh+tHLKlA0E1G96/D9aPe/wAP1/lQ8ak0VG97/D9f5Ue9/h+v8qGVMW4RpXvtm61C97/D9f5Ue9fh+tTDExrpNIqN71+H61572egqnjUqiovvZ6CvVxfUelDKk02ohiOuv7im/ex0P0pD4mdhEbGi5Uhfib/af0/Sl1B94aZ02j+vWvTiG60PGncNoWA2r2+g0POQKjLdYCAfyoe4x3NFz2sKKrVcjYmvLl5up9amJ4puIuERl38p0+VVjvJJ6/16Uma9qunPOCiiiiiiiigKVbak0UQ4nPzpZFNodTTlEpCcxS6R9r5UuhQabtCnKRb2oC7tSlGleP8ArS6DyiiigKKKKAooooCiiigKKKKAooooCiiigKKKKAoooNAlzApkmvXaaKLBRRRRRRRRQFFFFAV4K9ooHPtUuiijNNt8QpyiihRSU5+dFFANy8xSqKKAooooCiiigKKKKAooooCiiigKKKKAooooCiiigK9oooI7b0UUUaFFFFAUUUUH/9k=);
   background-size: cover;
   background-position: center;
 }

 .navbar{
   width: 80%;
   margin: auto;
   padding: 30px 0;
   display: flex;
   align-items: flex-end;
   justify-items: space-between;
 }
 .navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
 }
 .navbar ul li a{
   text-decoration: underline;
   text-transform: capitalize;


 }
 .wild {
    margin: 10px;
    padding: 10px;
    display: block;
    align-items: center;
    justify-items: auto;
 }

 .wild img:hover{
    transform: scale(0.7) rotate(-20deg);
    border-radius: 20px;
 }

 *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.aim{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: lightgreen;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
}
.navbar{
  background-color: darkseagreen;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;


}
.navbar ul{
  display: inline-flex;list-style: none;
  text-align: center;
}
.navbar ul li{
  width: 120px;
  margin: 15px;
  padding: 15px;

}
.navbar ul li a{
  text-decoration: none;
  color: aliceblue;
}
.active, .navbar ul li:hover{
  background: darkgreen;
  border-radius: 3px;
}
.logo{
  color: black;
  font-size: xx-large;
}
.animals{
  position: absolute;
  width: 100%;
  padding: 0.5%;
}
.ani_1:hover{
  float: right;
  width: 100%;
  background-color: bisque;
  padding: 5%;
  border-radius: 10%;
  transform: none;
}
.nature{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
}
.ani_2{
  float: right;
  width: 100%;
  background-color: grey;
  padding: 5%;

}
.ani_3{
  float: right;
  width: 100%;
  background-color: grey;
  padding: 5%;
  border-radius: 5%;
  background-color: oldlace;
}
.ani_4{
  float: right;
  width: 100%;
  background-color: grey;
  padding: 5%;
  background-color: cadetblue;
}
/* Hellen's part*/
* {
  background-color: rgb(241, 239, 239);
  font-style: normal;
  color:bisque;
}
* {
  .grandiflora-one-regular {
      font-family: "Grandiflora One", cursive;
      font-weight: 400;
      font-style: normal;
    }
    
}
.container-1 {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(safari.jpeg);
  background-position: center;
  background-size: cover;
  padding: 8%;
  box-sizing: border-box;


}
.hero h1 {
  color:black;
  font-weight:bolder;
  font-size: 6rem;
  font-style: oblique;
  text-align: center;
  background-color: transparent;
  text-align: center;
  text-decoration: double;
}

.hero {
  box-sizing: border-box;
  padding: 1.5rem;
  margin: top 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
 
}
.contact {
  display: block;    
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;

}
.bads {
  display: block;    
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.egg {
  display: block;    
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto
}
.good {
  display: block;    
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.prince {
  align-items: center;

}
.prince h1 {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-align: center;


}
.prince p {
  color: black;
  text-align: center;

}
.food img {
  align-items: center;
  width: 200px;
  height: auto;
  
}
.omg { border-top: 6px solid brown;}
.omg img {
  align-items: center;
  width: 205px;
  height: 300px;
}
.popular h1 {
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: underline;

  
}
.popular {
  padding: 20%;
}
.popular p {
  text-align: center;
  color: black;
}
.sorry h1 {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
.sorry {
  color: black;
  text-align: center;
  padding: 20%;
}
.sorry p {
  color: black;
}
.insane {
  color:black;
  text-align: center;
  padding: 20%;

}
.insane p {color: black;}
.insane h1 {
  text-decoration: underline;
  font-weight: bold;
  color: black;

}
.box {
  color: black;
  text-align: center;
  padding: 20%;
}
.box p {color: black;}
.box h1 {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.card {
  color:var(--clr-neutral-100);
  background-image: url(project/Advances\ in\ Equine\ Diagnostic\ Imaging.jpeg);
  background-size: cover;
  width: 10%;
  height: 60%;
  padding: 20%;
  align-content: right;
  margin-left: 20%;
  margin-right: 10%;
  border-radius:10%;
  overflow: hidden;
  transition: transform 500ms ease;
}
.card:hover {
  transform: scale(1.05);

}
.card:hover .card-content {
  transform: translateY(0);
  transition: transform 500ms ease;
}
.card-content {
  padding: 1.5em;
  background: -o-linear-gradient(hsl(0 0% 0% / 0),
  hsl(20 0% 0% / 0.3)  hsl(0 0% 0% / 1));
  transform: translateY(70%);
}
.card-title {
  position: relative;
  color: black;
  width: max-content;
}
.card-title::after {
  content: "";
  position: absolute;
  width:100%;
  height: auto;
  left: 0;
  bottom: -2px;
  background: var(--clr-neutral-400);
  color: blue;
  transition: transform 500ms ease;
}
.card:hover .card-content h2::after {
  transform: scaleX(1);
}
.button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: darkgreen;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  
}
.button:hover,
.button:focus {
  background-color: hsl(133, 60%, 28%);
}
.card-content p {
  color: black;
}
.card-content p {
  box-sizing: border-box;
  padding: 1.5rem;
  margin: top 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
 
}
  

